<% if user_signed_in? %>

  <div class="card">
    <div class="card-header">
      <h4>Friends directory</h4>
    </div>
    <div class="card-body">
    
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <!--<th>User Id</th>-->
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
          <tr>
            <td><%= link_to friend.first_name + ' ' + friend.last_name, friend %>
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>
            <td><%= friend.twitter %></td>
            <!--<td><%= friend.user_id %></td>-->
            <!--<td><%= link_to 'Show', friend %></td>-->
            <td><%= link_to 'Edit', edit_friend_path(friend), class:"btn btn-secondary btn-sm"  %></td>
            <td><%= link_to 'X', friend, method: :delete, data: { confirm: 'Are you sure you want to delete this user?' },  class:"btn btn-danger btn-sm" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Add Friend', new_friend_path, class:"btn btn-primary" %>
    </div>
  </div>

<% else %>
  <h1>Hi there!</h3>
  <p>Please <%= link_to 'Log in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %> to start tracking all your films.</p>


<% end %>