<%= form_with(model: film, local: true, html: {multipart: true}) do |form| %>
  <% if film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
        <% film.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="card">
<div class="card-body">

  <div class="row">
    <div class="col">
      <div class="field form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class:"form-control" %>
      </div>
    </div>
    <div class="col">
      <div class="field form-group">
        <%= form.label :poster_url %>
        <%= form.file_field :poster_url, class:"form-control" %>
      </div>
    </div>
  </div><br>


  <div class="row">
    <div class="col"><div class="field form-group">
      <%= form.label :year %>
      <%= form.number_field :year, class:"form-control" %>
    </div></div>
    <div class="col"><div class="field form-group">
      <%= form.label :duration  %><%= " (min)" %>
      <%= form.number_field :duration, class:"form-control" %>
    </div></div>
    <div class="col"><div class="field form-group">
      <%= form.label :country %>
      <%= form.text_field :country, class:"form-control" %>
    </div></div>
    <!--<div class="w-100"></div>-->
  </div><br>

  <div class="field form-group">
    <%= form.label :director %>
    <%= form.text_field :director, class:"form-control" %>
  </div><br>

  <div class="field form-group">
    <%= form.label :genre %>
    <%= form.text_field :genre, class:"form-control" %>
  </div><br>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control" %>
  </div><br>

  <div class="row">
    <div class="col"><div class="field form-group">
      <%= form.label :my_rating %>
      <%= form.number_field :my_rating, step: '0.5', min: 1, max: 10, class:"form-control" %>
    </div></div>
    <div class="col"><div class="field form-group">
      <%= form.label :watched %><br>
      <%= form.date_select :watched, class:"form-control"  %>
    </div></div>
    <!--<div class="w-100"></div>-->
  </div><br>


  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
</div>
</div><br>
