<p id="notice"><%= notice %></p>

<h1>Films Watched</h1>

<table class="table  table-hover">
  <thead class="table-dark"> 
    <tr>
      <th>Title</th>
      <th>Year</th>
      <!--<th>Duration</th>-->
      <th>Country</th>
      <!--<th>Director</th>-->
      <th>Genre</th>
      <th>Description</th>
      <th>Watched</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.title %></td>
        <td><%= film.year %></td>
        <!--<td><%= film.duration %></td>-->
        <td><%= film.country %></td>
        <!--<td><%= film.director %></td>-->
        <td><%= film.genre %></td>
        <td><%= film.description %></td>
        <td><%= film.watched.strftime("%b %d, %Y")%></td>
        <td><%= film.my_rating %></td>
        <td><%= link_to 'View', film %></td>
        <td><%= link_to 'Edit', edit_film_path(film), class:"btn btn-secondary btn-sm"  %></td>
        <td><%= link_to 'X', film, method: :delete, data: { confirm: 'Are you sure you want to delete this film?' },  class:"btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Film', new_film_path, class:"btn btn-primary"  %>
